body {
 background-color: #FFDD63;
 font-family: "Arial";
 font-size: 12pt;
 color: black;
}

h1, h2, h3, h4, h5, h6 {
 color: #E83405;
}


a {
 color: #026F8C;
 text-decoration: none;
}
a:hover {
 color: #E83405;
}
