body {
 background-color: #FFCC00;
 font-family: "Arial";
 font-size: 16px;
 color: #000;
}

nav {
 z-index: 9999;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 height: 110px;
 width: 100%;
 min-width: 320px;
 display: block;
 margin: 0;
}

nav ol {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}

nav li {
 text-align: center;
 font-size: 30px;
 display: inline;
 width: 33.33%;
 height: 100%;
 margin: 0;
 padding: 40px 0 0 0; 
 float: left;
}

nav a.down {
 color: #E00000;
}


a {
 color: #FFF;
 text-decoration: none;
}

a:hover {
 color: #E00000;
}

p {
  margin: 140px 0 0 0;
}


