body {
 font-family:"Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
 font-size: 12pt;
 background: #DDD;
 color: #000;
}

a {
 text-decoration: none;
 color:#888;
 transition: color .3s;
}
a:hover {
 color:#000;
}

h2 {
 color:#666;
}


header a {
 font-size:3em;
 color:#AAA;
 transition: color .7s;
}
header a.frontpage {
 animation-duration: 1s;
 animation-name:fadeup;
}
header #here{
 color:#000;
}

@keyframes fadeup{
 from {
  color:#DDD;
 }
 to {
   color:#AAA;
 }
}

.column-left {
 width:100%;
 display: flex;
 flex-flow: column;
 justify-content: space-around;
}
.column-center {
 width:100%;
 display: flex;
 flex-flow: column;
 justify-content: flex-start;
 align-items: center;
}
.column-right {
 width:100%;
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items:flex-end;
}

.row {
 display:flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: center;
}

.row-left {
 width:100%;
 display:flex;
 flex-flow: row wrap;
 justify-content: flex-begin;
 align-items: center;
