body {
 font-family:"Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
 font-size: 18pt;
 background: #FFF;
 color: #000;
}

a {
 text-decoration: none;
 color:#777;
 transition: color .3s;
}
a:hover {
 color:#000;
}

.section-header {
 font-size:3.5em;
 color:#444;
}


header a {
 font-size:1.3em;
 color:#AAA;
 transition: color .7s;
}
header a.frontpage {
 animation-duration: 1s;
 animation-name:fadeup;
}
header #here{
 color:#555;
}

@keyframes fadeup{
 from {
  color:#FFF;
 }
 to {
   color:#AAA;
 }
}

.column-around {
 display: flex;
 flex-flow: column;
 justify-content: space-between;
}

.column-left {
 display: flex;
 flex-flow: column;
 justify-content: space-around;
 }
.column-center {
 display: flex;
 flex-flow: column;
 justify-content: flex-start;
 align-items: center;
}
.column-right {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items:flex-end;
}

.row {
 display:flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items:flex-start;
}

.row-left {
 width:100%;
 display:flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 align-items: center;
