body {
 font: 12pt "Arial";
 background: #FFF;
 color: #000;

 display: flex;
 flex-flow:column nowrap;
 justify-content: space-around;
}

.item {
 display:flex;
 flex-flow:row nowrap;
 justify-content: center;
}

a { 
 text-decoration: none;
 font-size:4em;
 
 border: solid #FFF;
 border-width: .025em .1em;

 background: #666;
 color: #FFF;
}

a:hover, a:active {
 background:#EEE;
 color: #444;
}